# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request.

# Everything requires Platform team review by default
* @se-chris-thach @mdbalvin @rad-szulim @charlesmcchan @yi-tseng-intel @ashridatta @teone @callumnobleintel @daniele-moro @SeanCondon @pierventre @cgoea john.oloughlin@intel.com gary.loughnane@intel.com @palade @pperycz @ltalarcz @jakubsikorski @sys-orch-approve @ahalimx86

# Dependabot is used to manage dependencies in this repository. It is configured to automatically open pull requests to
# update dependencies when new versions are available. The following files are managed by Dependabot and do not require
# manual review or approval for changes. However, if you want to review the changes made by Dependabot, you can do so
# by checking the pull requests it opens. This workaround was shared in
# https://github.com/orgs/community/discussions/23064#discussioncomment-8383923 and can be removed once GitHub properly
# supports CODEOWNERS for GitHub apps.
# Go modules dependencies
**/*.mod
**/*.sum
# Terraform dependencies
**/*.tf
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
# Helm dependencies
**/Chart.yaml
**/values.yaml
# Docker dependencies
**/Dockerfile
# GitHub Actions dependencies
/.github/workflows/*.yml
/.github/workflows/*.yaml

# Except the following folders, which can be merged with passing CI and one approval
/argocd/applications/templates
/ci/
/e2e-tests/
/node/
/.test-dependencies.yaml

# Changes to the .github directory must be reviewed by these Maintainers. Has coverage in Poland, Ireland, India, and US.
.github/ @se-chris-thach @rad-szulim @charlesmcchan @mdbalvin @palade @Irakus @yi-tseng-intel @SushilLakra

# Cypress tests require UI team review
.github/actions/cypress/ @soniabha-intc @teone @satya-in @sys-orch-approve

# Platform team Forza maintains on-prem Orchestrator
/on-prem-installers/ @se-chris-thach @palade john.oloughlin@intel.com gary.loughnane@intel.com @mdbalvin @ashridatta @sys-orch-approve

# application catalog tests
/e2e-tests/orchestrator/app_catalog_test.go @scottmbaker @adibrastegarnia @SeanCondon @badhrinathpa @pudelkoM @guptagunjan @sys-orch-approve
/e2e-tests/orchestrator/catalog_bootstrap_test.go @scottmbaker @adibrastegarnia @SeanCondon @badhrinathpa @pudelkoM @guptagunjan @sys-orch-approve

# app orch templates and values
/argocd/applications/templates/app* @scottmbaker @adibrastegarnia @SeanCondon @badhrinathpa @pudelkoM @guptagunjan @sys-orch-approve
/argocd/applications/configs/app* @scottmbaker @adibrastegarnia @SeanCondon @badhrinathpa @pudelkoM @guptagunjan @sys-orch-approve
/argocd/applications/custom/app* @scottmbaker @adibrastegarnia @SeanCondon @badhrinathpa @pudelkoM @guptagunjan  @sys-orch-approve

# UI templates and values
/argocd/applications/**/web-ui* @soniabha-intc @teone @satya-in @dlemiech @riyaz-ghati @vigneshintel @sys-orch-approve
/argocd/applications/**/metadata-broker* @soniabha-intc @teone @satya-in @dlemiech @riyaz-ghati @vigneshintel @sys-orch-approve

# Cluster Orch Tests
/e2e-tests/orchestrator/clusterorch_smoke_test.go @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/mage/edge_cluster.go @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve

# cluster orch templates and values
/argocd/applications/templates/cluster* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/argocd/applications/templates/capi* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/argocd/applications/templates/intel-infra-provider* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve

/argocd/applications/configs/capi* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/argocd/applications/configs/cluster* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/argocd/applications/configs/intel-infra-provider* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve

/argocd/applications/custom/capi* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/argocd/applications/custom/cluster* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve
/argocd/applications/custom/intel-infra-provider* @gcgirish @andybavier @hyunsun @jdanieck @jokuniew @eoghanlawless @sys-orch-approve

# Obaas Tests
/e2e-tests/orchestrator/o11y_* @pperycz @ltalarcz @jakubsikorski @mholowni @p-zak @tdorauintc @sys-orch-approve
/e2e-tests/orchestrator/helpers/ @pperycz @ltalarcz @jakubsikorski @mholowni @p-zak @tdorauintc @sys-orch-approve
/e2e-tests/mailpit/ @pperycz @ltalarcz @jakubsikorski @mholowni @p-zak @tdorauintc @sys-orch-approve

# Infrastructure
/pod-configs @luoyingf @ashridatta @yi-tseng-intel @palade @sys-orch-approve

# Documentation
/**/*.md @Andrea-Campanella @se-chris-thach @mdbalvin @rad-szulim @charlesmcchan @yi-tseng-intel @ashridatta @teone @callumnobleintel @daniele-moro @SeanCondon @pierventre @cgoea john.oloughlin@intel.com gary.loughnane@intel.com @palade @pperycz @ltalarcz @jakubsikorski @sys-orch-approve @ahalimx86

# Kyverno config requires Platform team review
/argocd/applications/configs/kyverno-* chris.thach@intel.com @mdbalvin @rad-szulim @charlesmcchan @yi-tseng-intel john.oloughlin@intel.com gary.loughnane@intel.com @palade @Irakus @sys-orch-approve @ahalimx86

# Design documents
/design-proposals/ @scottmbaker @hyunsun @teone @krishnajs @Andrea-Campanella @se-chris-thach @charlesmcchan @yi-tseng-intel @ashridatta @callumnobleintel @daniele-moro @SeanCondon @pierventre @cgoea john.oloughlin@intel.com gary.loughnane@intel.com @palade @pperycz @ltalarcz @jakubsikorski @sys-orch-approve @ahalimx86

# New installer work
/new-installer @charlesmcchan @yi-tseng-intel @ashridatta @se-chris-thach @paulfhncw patryk.iracki@intel.com
